h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    font-family: $font-family;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: $font-family;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    font-family: $font-family;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    font-family: $font-family;
}

h5 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    font-family: $font-family;
}

h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-family: $font-family;
}

.large-body {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    font-family: $font-family;
}

.regular-body {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-family: $font-family;
}

.small-body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-family: $font-family;
}