.play-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: 0;
    color: white;
    .icon-play-button-wrapper {
        border-radius: 100%;
        background-color: $white;
        padding: 1rem;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-play-button {
        width: 20px;
        height: 20px;
    }

    span {
        font-weight: bold;
    }
}

.button {
    display: inline-block;
    border-radius: 2px;
    border: 0;
    background-color: $pale-green;
    color: $green;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    padding: 12px 40.5px;
    margin: 0.25rem;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $green;
        color: $white;
    }
}

.glide__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px 0 42px;
}

.glide__arrow {
    border-radius: 100%;
    background-color: $pale-blue;
    border: 0;
    padding: 34px;
}

@media screen and (min-width: 576px) {
    .glide__arrows {
        padding: 64px 0 83px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        padding: 10px;
        min-width: 168px;
    }
}
