footer {
    padding: 70px 52px 30px;
    color: $white;

    address {
        font-style: normal;
    }

    a {
        text-decoration: none;
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    .footer-link {
        @extend .regular-body;
    }

    .footer-link__large {
        @extend .large-body;
        margin: 24px 0;
        display: inline-block;
    }

    .legal-links {
        display: flex;
        flex-direction: row;
        gap: 75px;
    }

    .social-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    hr {
        margin-top: 60px;
    }

    section {
        padding: 0;
    }

    .footer-section-title {
        @extend .regular-body;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 20px;
    }

    .footer-link-group {
        list-style: none;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .footer-navigation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px 10px;
        grid-template-areas:
            "footerinfo footerinfo"
            "footerexplore footermusic"
            "footerartists footerrecords";
    }

    .footer-info {
        grid-area: footerinfo;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .footer-explore {
        grid-area: footerexplore;
    }

    .footer-music {
        grid-area: footermusic;
    }

    .footer-artists {
        grid-area: footerartists;
    }

    .footer-records {
        grid-area: footerrecords;
    }
}

@media screen and (min-width: 992px) {
    footer {
        .footer-navigation {
            grid-template-columns: 225px 1fr 1fr 1fr 1fr;
            gap: 67px;
            grid-template-areas: "footerinfo footerexplore footermusic footerartists footerrecords";
        }
        .footer-link {
            display: flex;
            justify-content: space-between;
        }
    }
}
